.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.RDataTmp
Instruction_Booklet
*.html
development_notebooks/cache/
development_notebooks/*_cache/
development_notebooks/*_files/
CASSIA_equations/
